/* You can add global styles to this file, and also import other style files */

// ------------------------------------
//   Settings
// ------------------------------------

@import 'settings/variables';

// ------------------------------------
//   Base
// ------------------------------------

@import 'base/elements';

.mat-drawer.mat-drawer-end {
    background-color: #ffff;
    width: 450px;
    border-top-left-radius: 2rem o !important;
    box-shadow: 0 0 8px #cccc;
}