/* You can add global styles to this file, and also import other style files */

// ------------------------------------
//   Settings
// ------------------------------------

@import 'settings/variables';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// ------------------------------------
//   Base
// ------------------------------------

@import 'base/elements';

.mat-sidenav-content {
    height: 100vh !important;
    height: 100dvh !important;
    overflow-y: auto;
}
.mat-drawer.mat-drawer-end {
    background-color: #ffff;
    width: 100vw;
    border-top-left-radius: 2rem o !important;
    box-shadow: 0 0 8px #cccc;
}
::ng-deep .cdk-overlay-pane {
    align-items: center;
}
@media screen and (min-width: 768px) {
    .mat-drawer.mat-drawer-end {
        width: 450px;

    }
}