.trendEdit {
  padding: 2rem 1rem 1rem 1rem;
  .trendEdit-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .trendEdit-Header__Title {
      span {
        font-weight: 500;
        font-size: 1.2 rem;
      }
    }
  }
}
.trendEdit-Content {
  .trendEdit-Content__Container {
    form {
      .form-group {
        label {
          font-weight: 500;
        }
        textarea {
          resize: none;
        }
      }
    }
  }
}
::ng-deep .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: red;
}